* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

.logo {
    color: #38bdf8;
}

/* Sections */
.section {
    padding: 80px 50px;
    text-align: center;
}

.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home span {
    color: #38bdf8;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

/* Projects */
.project-card {
    background: #020617;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #1e293b;
}

/* Contact */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}
